@import '../../mixin.scss';

.login-form {
  @include flex-col-center;

  form {
    @include flex-col-start;
    @include form-width;
  }

  h2 {
    color: $base-color;
    margin-bottom: 1rem;
  }

  span {
    @include accent-text;
  }

  small {
    color: $accent-color;
    text-align: left;
  }

  button {
    margin: 1.5rem 0 0.5rem;
    align-self: center;
  }
}
