@import '../mixin.scss';

.users-likes-container {
  @include section-container-wide;

  h2 {
    color: $base-color;
    margin-bottom: 2rem;
  }

  .name {
    color: $secondary-color;
  }

  .accent {
    @include accent-text;
  }
}
