@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #0d1737;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

button {
  cursor: pointer;
}

.section-container {
  margin: 8rem auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
  text-align: center;
}
